* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: proximity;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: linear-gradient(rgb(255, 255, 255), rgba(206, 239, 255, 0.6)), url(images/background-5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

/*nav styling start*/
    nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        padding: 20px 6%;
        position: fixed;
        border-bottom: 1px solid rgba(216, 101, 242, 0.4) ;
        background-color: rgba(117, 10, 10, 0.936);
    }

    nav h1 {
        font-size: 3rem;
        background: linear-gradient(to right, rgba(173, 0, 247, 0.4), rgba(255, 0, 247, 0.7));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 900;
        font-family: 'Tangerine', serif;
        border-radius: 30%;
        border: 2px solid rgba(248, 66, 242, 0.7);
        background-color: black;
        font-weight: bold;

    }

    nav h1 a,
     .nav-links ul li a,
      .icons a {
        text-decoration: none;
    }


    nav .nav-links ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        gap: 40px;
}

.nav-links ul li {
    font-size: 1.5em;
    font-style: oblique;
    padding-left: 1rem;
    list-style: none;
    display: inline-block;
    position: relative;
    transition: 0.6s;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    margin: auto;
    display: block;
    background: aliceblue;
    position: relative;
    transition: 0.6s;
}

.nav-links ul li:hover::after {
    width: 100%;
    color: aliceblue;
}   

.nav-links ul li a{
    color:rgba(248, 254, 255, 0.855);
}

.nav-links ul li a:hover{
    color: aliceblue;
    transition: 0.6s;
}

.icons {
    margin: 0 0 0 30px;
    display: flex;
    flex-direction: flex-end;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}


.fa-brands {
    color: #fff;
    font-size: 1.8rem;
    
}